$color-beige: rgb(238, 238, 238);
$color-black: rgb(33, 32, 30);

@font-face {
  font-family: Allura;
  src: url(/fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: RobotoLight;
  src: url(/fonts/Roboto-Light.ttf);
}
