@font-face {
  font-family: Allura;
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: RobotoLight;
  src: url(../fonts/Roboto-Light.ttf);
}
body {
  margin: 0;
  background-color: rgb(33, 32, 30);
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
  transition: 0.2s;
}
a:hover {
  scale: 1.4;
}

header {
  position: relative;
  background-color: green;
  background: url(../img/bg-slider-06.jpg) center/cover;
  min-height: 100vh;
}
header nav {
  padding: 15px 0;
  align-items: center;
  display: grid;
  grid-template-columns: 10% 82% 8%;
  width: 80%;
  margin: 0 auto;
}
header nav .nav-logo {
  font-family: Allura;
  font-size: 2rem;
  color: rgb(238, 238, 238);
}
header nav .nav-elements {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: rgb(238, 238, 238);
  font-family: RobotoLight;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0 15px;
}
header nav .nav-elements li {
  cursor: pointer;
}
header nav .nav-rs {
  display: flex;
  justify-content: space-around;
}
header nav .nav-rs a {
  color: rgb(238, 238, 238);
  font-size: 0.7rem;
}
header .header-content {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .header-content h1 {
  font-family: Allura;
  color: #a67245;
  font-size: 3rem;
  font-weight: 100;
}
header .header-content h2 {
  font-family: Poppins;
  font-size: 3.2rem;
  color: rgb(238, 238, 238);
  margin-top: -28px;
  text-transform: uppercase;
  letter-spacing: 8px;
}
header .header-content img {
  margin: 32px 0;
  height: 27px;
}
header .header-content p {
  margin: 0;
  font-family: RobotoLight;
  color: rgb(238, 238, 238);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 5px;
}

.section1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(238, 238, 238);
}
.section1 .presentation {
  margin: 15px;
  text-align: center;
  padding: 30px 10px;
  border: 1px dashed black;
}
.section1 .presentation h2 {
  font-family: Allura;
  color: #a67245;
  font-size: 2rem;
  font-weight: 500;
}
.section1 .presentation h3 {
  font-family: poppins;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: -15px;
}
.section1 .presentation .img-section1 {
  margin: 20px 0 5px;
}
.section1 .presentation p {
  font-family: RobotoLight;
  font-size: 1rem;
}
.section1 .presentation h4 {
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: 0.7px;
}
.section1 .presentation h5 {
  font-size: 0.8rem;
  font-family: Poppins;
  font-weight: 200;
  text-transform: uppercase;
  color: rgb(186, 186, 186);
}
.section1 .presentation .img-section1-2 {
  box-sizing: border-box;
  border-radius: 50%;
  width: 70px;
  margin: 10px 0 8px;
}
.section1 .presentation-pic {
  background: url(../img/store-01.jpg) center/cover;
}

.section2 {
  text-align: center;
  position: relative;
}
.section2 h2 {
  font-family: Allura;
  color: #a67245;
  font-weight: 500;
  font-size: 2rem;
  padding: 60px 0 30px;
}
.section2 ul {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 30px auto;
  justify-content: space-around;
  color: rgb(238, 238, 238);
  font-family: RobotoLight;
  font-weight: 100;
}
.section2 ul li {
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(238, 238, 238);
}
.section2 .plate {
  margin: 0 auto;
  display: grid;
  width: 85%;
  max-width: 800px;
  grid-template-columns: 1fr 1fr;
  padding: 30px 0 20px;
  border-top: 4px solid #a67245;
  background-color: rgb(238, 238, 238);
  z-index: 1000;
}
.section2 .plate .plate-content {
  display: flex;
  padding: 25px 0;
  margin: 0 20px;
  justify-content: space-between;
  border-bottom: 1px dashed #a67245;
}
.section2 .plate .plate-content img {
  box-sizing: border-box;
  border-radius: 50%;
}
.section2 .plate .plate-content .plate-content-text {
  text-align: left;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.section2 .plate .plate-content .plate-content-text h5 {
  color: black;
  font-family: RobotoLight;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 5px;
}
.section2 .plate .plate-content .plate-content-text p {
  color: black;
  font-family: RobotoLight;
  font-size: 1rem;
}
.section2 .plate .plate-content p {
  display: grid;
  align-items: center;
  color: #a67245;
  font-family: Poppins;
  font-size: 1.2rem;
}
.section2::after {
  content: "";
  position: absolute;
  background: url(../img/bg-menu-01.jpg) center/cover;
  top: 0;
  width: 100%;
  height: 650px;
  left: 50%;
  top: 370px;
  transform: translateX(-50%);
  z-index: -1;
}

.section3 {
  padding: 100px 15px 65px;
  background-color: rgb(33, 32, 30);
}
.section3 .reservation {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 75%;
  max-width: 1300px;
  margin: 0 auto;
}
.section3 .reservation .timeopen {
  background: black;
  color: rgb(238, 238, 238);
  padding: 20px;
}
.section3 .reservation .timeopen .time-open-content {
  border: 1px dashed rgb(238, 238, 238);
  padding: 25px 0;
  text-align: center;
}
.section3 .reservation .timeopen .time-open-content h3 {
  font-family: Allura;
  color: #a67245;
  font-size: 2.5rem;
  font-weight: 100;
}
.section3 .reservation .timeopen .time-open-content h4 {
  font-family: Poppins;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.3rem;
  margin-top: -15px;
}
.section3 .reservation .timeopen .time-open-content img {
  margin-top: 25px;
}
.section3 .reservation .timeopen .time-open-content h5 {
  font-family: poppins;
  text-transform: uppercase;
  color: #a67245;
  font-weight: 300;
  font-size: 1.1rem;
  margin: 35px 0 15px;
}
.section3 .reservation .timeopen .time-open-content p {
  font-family: RobotoLight;
  font-size: 0.8rem;
}
.section3 .reservation .form {
  background: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 0;
}
.section3 .reservation .form h3 {
  font-family: Allura;
  color: #a67245;
  font-size: 2.5rem;
  font-weight: 100;
}
.section3 .reservation .form h4 {
  font-family: Poppins;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.7rem;
  margin-top: -18px;
}
.section3 .reservation .form img {
  margin-top: 25px;
}
.section3 .reservation .form .form-input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 25px 0 35px;
}
.section3 .reservation .form .form-input > * {
  margin: 10px;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid black;
  background: none;
}
.section3 .reservation .form button {
  padding: 12px 34px;
  border-radius: 50px;
  font-family: Poppins;
  text-transform: uppercase;
  background: rgb(33, 32, 30);
  color: rgb(238, 238, 238);
  letter-spacing: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.section3 .reservation .form button:hover {
  scale: 1.05;
}/*# sourceMappingURL=style.css.map */