$color-beige: rgb(238, 238, 238);
$color-black: rgb(33, 32, 30);
$color-gold: #a67245;

@font-face {
  font-family: Allura;
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: RobotoLight;
  src: url(../fonts/Roboto-Light.ttf);
}
body {
  margin: 0;
  background-color: $color-black;
}
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    scale: 1.4;
  }
}

header {
  position: relative;
  background-color: green;
  background: url(../img/bg-slider-06.jpg) center/cover;
  min-height: 100vh;
  nav {
    padding: 15px 0;
    align-items: center;
    display: grid;
    grid-template-columns: 10% 82% 8%;
    width: 80%;
    margin: 0 auto;
    .nav-logo {
      font-family: Allura;
      font-size: 2rem;
      color: $color-beige;
    }
    .nav-elements {
      list-style: none;
      display: flex;
      justify-content: space-around;
      color: $color-beige;
      font-family: RobotoLight;
      text-transform: uppercase;
      font-size: 0.7rem;
      padding: 0 15px;
      li {
        cursor: pointer;
      }
    }
    .nav-rs {
      display: flex;
      justify-content: space-around;
      a {
        color: $color-beige;
        font-size: 0.7rem;
      }
    }
  }
  .header-content {
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-family: Allura;
      color: $color-gold;
      font-size: 3rem;
      font-weight: 100;
    }
    h2 {
      font-family: Poppins;
      font-size: 3.2rem;
      color: $color-beige;
      margin-top: -28px;
      text-transform: uppercase;
      letter-spacing: 8px;
    }
    img {
      margin: 32px 0;
      height: 27px;
    }
    p {
      margin: 0;
      font-family: RobotoLight;
      color: $color-beige;
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: 5px;
    }
  }
}
.section1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $color-beige;
  .presentation {
    margin: 15px;
    text-align: center;
    padding: 30px 10px;
    border: 1px dashed black;
    h2 {
      font-family: Allura;
      color: $color-gold;
      font-size: 2rem;
      font-weight: 500;
    }
    h3 {
      font-family: poppins;
      text-transform: uppercase;
      font-size: 1.2rem;
      margin-top: -15px;
    }
    .img-section1 {
      margin: 20px 0 5px;
    }
    p {
      font-family: RobotoLight;
      font-size: 1rem;
    }
    h4 {
      font-family: Poppins;
      font-weight: 400;
      letter-spacing: 0.7px;
    }
    h5 {
      font-size: 0.8rem;
      font-family: Poppins;
      font-weight: 200;
      text-transform: uppercase;
      color: rgb(186, 186, 186);
    }
    .img-section1-2 {
      box-sizing: border-box;
      border-radius: 50%;
      width: 70px;
      margin: 10px 0 8px;
    }
  }
  .presentation-pic {
    background: url(../img/store-01.jpg) center/cover;
  }
}
.section2 {
  text-align: center;
  position: relative;
  h2 {
    font-family: Allura;
    color: $color-gold;
    font-weight: 500;
    font-size: 2rem;
    padding: 60px 0 30px;
  }
  ul {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 30px auto;
    justify-content: space-around;
    color: $color-beige;
    font-family: RobotoLight;
    font-weight: 100;
    li {
      padding-bottom: 8px;
      border-bottom: 1px solid $color-beige;
    }
  }
  .plate {
    margin: 0 auto;
    display: grid;
    width: 85%;
    max-width: 800px;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0 20px;
    border-top: 4px solid $color-gold;
    background-color: $color-beige;
    z-index: 1000;
    .plate-content {
      display: flex;
      padding: 25px 0;
      margin: 0 20px;
      justify-content: space-between;
      border-bottom: 1px dashed $color-gold;
      img {
        box-sizing: border-box;
        border-radius: 50%;
      }
      .plate-content-text {
        text-align: left;
        margin: 0 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        h5 {
          color: black;
          font-family: RobotoLight;
          font-size: 0.8rem;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 5px;
        }
        p {
          color: black;
          font-family: RobotoLight;
          font-size: 1rem;
        }
      }
      p {
        display: grid;
        align-items: center;
        color: $color-gold;
        font-family: Poppins;
        font-size: 1.2rem;
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    background: url(../img/bg-menu-01.jpg) center/cover;
    top: 0;
    width: 100%;
    height: 650px;
    left: 50%;
    top: 370px;
    transform: translateX(-50%);
    z-index: -1;
  }
}
.section3 {
  padding: 100px 15px 65px;
  background-color: $color-black;
  .reservation {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 75%;
    max-width: 1300px;
    margin: 0 auto;
    .timeopen {
      background: black;
      color: $color-beige;
      padding: 20px;
      .time-open-content {
        border: 1px dashed $color-beige;
        padding: 25px 0;
        text-align: center;
        h3 {
          font-family: Allura;
          color: $color-gold;
          font-size: 2.5rem;
          font-weight: 100;
        }
        h4 {
          font-family: Poppins;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 1.3rem;
          margin-top: -15px;
        }
        img {
          margin-top: 25px;
        }
        h5 {
          font-family: poppins;
          text-transform: uppercase;
          color: $color-gold;
          font-weight: 300;
          font-size: 1.1rem;
          margin: 35px 0 15px;
        }
        p {
          font-family: RobotoLight;
          font-size: 0.8rem;
        }
      }
    }
    .form {
      background: $color-beige;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 15px 0;
      h3 {
        font-family: Allura;
        color: $color-gold;
        font-size: 2.5rem;
        font-weight: 100;
      }
      h4 {
        font-family: Poppins;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.7rem;
        margin-top: -18px;
      }
      img {
        margin-top: 25px;
      }
      .form-input {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 25px 0 35px;
        > * {
          margin: 10px;
          padding: 10px 0;
          border: none;
          border-bottom: 1px solid black;
          background: none;
        }
      }
      button {
        padding: 12px 34px;
        border-radius: 50px;
        font-family: Poppins;
        text-transform: uppercase;
        background: $color-black;
        color: $color-beige;
        letter-spacing: 4px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          scale: 1.05;
        }
      }
    }
  }
}
